$ratio: 16/9;

$app-height: 100vh;
$app-width: $app-height * $ratio;

$vh: $app-height / 100;
$vw: $app-width / 100;

$app-margin: max(100vw - #{$app-width}, 0vw);

@mixin whole-space() {
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
}

@mixin square($size) {
    width: $size;
    height: $size;
}

@mixin margin-y($margin) {
    margin-top: $margin;
    margin-bottom: $margin;
}

@mixin status() {
    &--online {
        background-color: var(--green);
    }

    &--busy {
        background-color: var(--orange);
    }

    &--offline {
        outline: 2px dashed white;
    }
}